<template>
    <section class="section">
        <div class="container">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-menu is-active buttons">
                    <router-link to="/" tag="button" id='home-button' class="button is-link"> Home </router-link>
                    <router-link to="/movies" tag="button" id='home-buttons' class="button is-link"> Movies </router-link>
                </div>
            </nav>
            <router-view></router-view>
        </div>
    </section>
</template>

<script>
    // import axios from 'axios'

    export default {
        // data() {
        //     return {
        //         movies: {}
        //     }
        // },
        // async created () {
        //     const response = await axios.get('http://localhost:8000/movies')
        //     this.movies = response.data
        // }
    }
</script>