<template>
    <div>
        <span class="help is-info"  v-if="isLoading">Loading...</span>
        <table class="table" v-else>
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Pun Count</th>
                <th>Actions</th>    
            </tr>
            </thead>
            <tbody>
            <template v-for="(movie, index) in movies">
                <tr v-bind:key="movie.id">
                    <td>{{ movie.id }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.count }}</td>
                    <td>
                        <form @submit.prevent="onSubmit(movie)">
                            <button class="button is-primary" v-bind:class="{ 'is-loading' : isCountUpdating(movie.id) }">Increase Count</button>
                        </form>
                        <button @click="deleteObject(index, movie)">remove</button>
                        <b-button v-b-modal.modalPrevent  @click="sendInfo(movie)">Edit</b-button>
                    </td>
                </tr>
            </template>
            </tbody>
            <b-modal
                    id="modalPrevent"
                    ref="modal"
                    @ok="handleOk"
                    @shown="clearName"
            >
                <form @submit.stop.prevent="handleSubmit">
                    <b-form-input type="text"  v-model="editMovie.title" />
                </form>
            </b-modal>
        </table>
        <movie-form @completed="addMovie"></movie-form>
    </div>
</template>

<script>
    import axios from 'axios'
    import Vue from 'vue'
    import MovieForm from './MovieForm.vue'
    // import {mapGetters} from 'vuex'
    import {mapState} from 'vuex'


    export default {
        components: {
            MovieForm
        },
        data: () => ({

                modalShow: false,
                // getMovies: {},
                isLoading: true,
                countUpdatingTable: [],
                title: '',
                name: '',
                editMovie:'',
                newTitle:'',
            movies: {},

        }),
        // async created () {
        //     try {
        //         const response = await axios.get('http://localhost:8000/movies')
        //         this.getMovies = response.data
        //         this.isLoading = false
        //     } catch(e) {
        //         // handle authentication error here
        //     }
        // },

        mounted () {
           this.$store.dispatch('getMovies');
            console.log(this.$store.dispatch('getMovies'));
            return this.$store.state.getMovies;
            // console.log(this.$store.dispatch('getMovies'));
            // this.$store.getters.getMovies;
            // this.state.movie.getMovies;

        },
        computed: {
            ...mapState({
                movies: 'getMovies',
            })
        },

        // computed: mapState(['getMovies'
        //
        // ]),


        methods: {
            onSubmit(movie) {
                Vue.set(this.countUpdatingTable, movie.id, true)
                this.increaseCount(movie)
            },
            async increaseCount(movie) {
                axios.post('http://localhost:8000/movies/' + movie.id + '/count')
                    .then(response => {
                        movie.count = response.data.count
                        this.countUpdatingTable[movie.id] = false
                    })
                    .catch(() => {
                        // handle authentication and validation errors here
                        this.countUpdatingTable[movie.id] = false
                    })
            },
            isCountUpdating(id) {
                return this.countUpdatingTable[id]
            },
            addMovie(movie) {
                this.getMovies.push(movie)
            },
            delMovie(movie) {
                axios.delete('http://localhost:8000/movies/' + movie.id)
                    .then()
                    .catch(() => {
                    })
            },
            deleteObject(index, movie) {
                this.delMovie(movie)
                this.getMovies.splice(index, 1);
            },
            async update() {
                axios.put('http://localhost:8000/movies/' + this.editMovie.id, {title: this.editMovie.title}
                ).then(response => { this.title = response.data.title}
                    ).catch(() => {})
            },
            clearName() {
                this.newTitle = ''
            },
            handleOk(evt) {
                // Prevent modal from closing
                evt.preventDefault()
                if (!this.editMovie.title) {
                    alert('Please enter your name')
                } else {
                    this.handleSubmit()
                }
            },
            handleSubmit() {
                this.clearName()
                this.$nextTick(() => {
                    // Wrapped in $nextTick to ensure DOM is rendered before closing
                    this.$refs.modal.hide()
                })
                this.update(this.newTitle)
            },
            sendInfo(movie) {
                this.editMovie = movie;


            }
        }

    }
</script>